ion-button{
    --background: maroon;
    
}
ion-icon{
    color: maroon;
}
.header{
    border-bottom: 2px solid black;
    padding: 15px;
}
.signup{
    margin-top: 10%;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}