<ion-header>
  <ion-toolbar>
    <ion-label routerLink="" slot="start" class="ion-margin-start">
      <ion-icon name="arrow-back" size="large"></ion-icon>
    </ion-label>
    <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-margin-top">
    <ion-label position="floating">Enter registered email id</ion-label>

    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="otpModal()" mode="md"
    >Request Otp</ion-button
  >
</ion-content>
